
.searchbar input{
    width: 1139px;
    border-radius: 20px;
    border-width: 1px;
    height: 40px;
    margin: 0 auto;
}

#head a {
    font-size: small;
    font-family: Arial, sans-serif;
    text-decoration: none;
    margin: 5px;
}

#top-right{
    float: right;
    margin: 5px
}

#head button{
    background: #4484f1;
    color: white;
    padding: 5px;
}

#footer {
    position: absolute;
    bottom: 0;
}

#footer a{
    font-size: small;
    font-family: Arial, sans-serif;
    text-decoration: none;
    margin: 5px;
}

.link:hover{
    text-decoration: underline;
}

.googlelogo{
    margin: 50px auto 20px;
    width: 20em;
    display: block;
    clear: both;
}

.searchbar{
    text-align: center;
}

#actualsearchbar:hover{
    box-shadow: 5px 5px 5px rgba(0,0,0,0.19);
}

.button{
    margin: 20px;
    text-align: center;
}
